<footer class="bg-white dark:bg-gray-800 shadow">
  <div class="max-w-7xl mx-left py-4 px-2 sm:px-4 lg:px-6">
    <div class="flex flex-col md:flex-row items-center">
      <p class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left">
        &copy; 2024 Обучающая платформа{" "}
        . Исходный код доступен на {" "}
        <a
          href='https://github.com/nevsky118/odoo'
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          GitHub
        </a>
        .
      </p>
    </div>
  </div>
</footer>